
page-page-thong-tin {

  
  .background_image {
    background-image: url('../assets/imgs/back_ground6.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }

  .item_ttvt {
    //margin-left: -6px;
    width: 100%;
  }

  .item_tram {
    //margin-left: -6px;
    width: 100%;
  }

  .select_tram {
    margin-right: 6px;
  }

  .dia_chi {
    margin-top: -8px;
    text-align: center;
    color: #FF6600;
    width: 100%;
  }


  .block {
    position: relative;
    margin-left: 0px;
    margin-bottom: 1px;
    width: 99%;
    height: 140px;
    text-align: center;
    background-color: yellow;
    border: 2px solid #008CBA;
    //background-color: #E0FFFF;

    .cameraIcon {
      text-align: center;
      display: block;
      margin-top: 20%;
      zoom: 2.5;
    }
  }

  .card-title {
    position: absolute;
    top: 55%;
    //font-weight: bold;
    // color: #488aff;
    font-size: 15px;
    width: 98%;
  }
  
}
