dai-tram {
    .item_ttvt {
        margin-left: -6px;
        width: 102%;
      }
      .item_tram {
        margin-left: -6px;
        width: 102%;
      }
      .select_tram {
        margin-right: 6px;
      }
      .dia_chi {
        margin-top: -8px;
        text-align: center;
        color: #FF6600;
        width: 100%;
      }
}
